.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#stake{
  width: 6em !important;
  height: 4em !important;
  font-size: 16px;
  background-color: #282c34;
  color: white;
  border-width: 3px !important;
  border-radius: 2em !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  padding-right: 0px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#error {
  font-size: 15px;
  color: red;
}

#stakingError {
  color: red;
}

.MuiMenuItem-root{
  color: white !important;
}
.tableHeader{
  font-size: 40px !important;
}
.tableElement{
  font-size: 30px !important;
}
.MuiTable-root{
  width: 40em !important;
  text-decoration: white !important;
}
.MuiTableCell-root{
  color: white !important;
  font-size: 0.8em !important;
}
.MuiPaper-root{
  width: 40em !important;
  background-color: #282c34 !important;
  text-decoration: white !important;
}
.Balance{
  position: absolute !important;
  top: 70px;
  right: 0px;
  text-align: right;
}
.MuiInputBase-input{

  width: 20px !important;
}
.MuiInput-input
{
  right: 0px !important;
}
.MuiButton-root{
  border-color: black !important;
  color: white !important;
  font-size: 30px;
}
.Market-choice{
  position: absolute !important;
  top: 80px;
  left: 0px;
}

.history{
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}
.App-link {
  color: #61dafb;
}
.MuiInputBase-input{
  color:white !important;
  text-align: center;
  font-size: 40px !important;
  position: absolute;
  top: 30%;
  right: 0px !important;
  width: 8em !important;

}
.MuiButton-label{
  color: white;
  font-size: 30px;
}
.MuiButtonBase-root{
  margin-top: 0em !important;
  width: 18em;
  height: 7em;
  border-width: 6px !important;
  border-radius: 2em !important;
}
.MuiInputBase-root{
  width: 20em;
  height: 5em;
}
.MuiFormLabel-root{
  color: white !important;
}
.MuiInputBase-root{
  border-width: 6px !important;
  border-radius: 2em !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toprightcorner{
  position: absolute;
  top:70px;
  right: 10px;
  height: 200px;
  width: 800px;
  text-align: right;
}



/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #282c34;
  padding: 20px 10px;
  }
  #head{
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 3px #888888;
  }
  /* Style the header links */
  .header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  }
  .header p {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    }
.MuiOutlinedInput-input{
  top: 0% !important;
  right: 0% !important;
  width: 7em !important;

}
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
  font-size: 25px;
  font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
  }
  
  /* Style the active/current link*/
  .header a.active {
  background-color: dodgerblue;
  color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
  float: right;
  }
  .ChoosePortfolio:hover{
      color: black !important;
     text-decoration: none !important;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
  .header a {
  float: none;
  display: block;
  text-align: left;
    }
  .header-right {
  float: none;
    }
  }

  .cryptocurrency-logo {
    border-radius: 100%;
    max-width: 30%;
    height: auto;
  }
  #select-buy-form {
    margin-bottom: 2%;
    margin-left: 58%;
    text-align: center;
  }

  .custom-table-error {
    color: red;
  }
.Settings-button{
  color:white !important;
  height: 1.5em !important;
}
.Settings-button-container{
  color:white !important;
  width: 3em !important;
  height: 1.5em !important;
}
.MuiMenuItem-root{
  width: 7em !important;
}
.MuiPopover-paper{
  width: 7em !important;
}
.Settings-menu-item{
  width: 7em !important;
}