.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#error {
  font-size: 15px;
  color: red;
}

.Balance{
  position: absolute;
  top: 0px;
  right: 0px;
}
.Market-choice{
  position: absolute !important;
  top: 5px;
  left: 0px;
}

.App-link {
  color: #61dafb;
}

.MuiInputBase-input{
  color:white !important;
  text-align: center;
  font-size: 40px !important;
}
.MuiButton-label{
  color: white;
  font-size: 30px;
}
.MuiButtonBase-root{
  margin-top: 2em !important;
  width: 18em;
  height: 7em;
  border-width: 6px !important;
  border-radius: 2em !important;
}
.MuiInputBase-root{
  width: 20em;
  height: 5em;
}
.MuiFormLabel-root{
  color: white !important;
}
.MuiInputBase-root{
  border-width: 6px !important;
  border-radius: 2em !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
